@font-face {
    font-family: Circular;
    src: url(./CircularStd-Black.otf) format("opentype");
}




body{
left: 0px;
top: 0px;
background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%);
}

html {
   background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%); 
}

h1 {
    font-family: Circular;
    color: white;
    letter-spacing: -0.1rem;
    margin: 0px;
    margin-bottom: 10px;
}
/* form for editing profiles */

#container_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 7px;
    width: auto;
    }




#form_profil{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 7px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}



.form-select{
    padding: 10px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 7px;
    color: white;

}
.form-select:invalid {
color: gray; 
}




/* all the shit after those lines are just for a little triangle in select
which fucking pissed me off for like an hour fucking select icon */
select{
  
   display: inline-block;
   margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em 3.5em 0.5em 1em;
}

select.form-select{
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    0px 1.5em;
  background-repeat: no-repeat;
  width: 100%;

}

select.form-select:focus { 
  background-image:
    linear-gradient(45deg, rgb(255, 255, 255) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, rgb(255, 255, 255) 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    0px 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(255, 255, 255);
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* all the shit above those lines are just for a little triangle in select
which fucking pissed me off for like an hour fucking select icon */

#subButton{
    padding: 10px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 100px;
    width: 100%;
    font-family: 'Circular';
     text-transform: uppercase;
 }

 #subButton:hover{
     background-color: white;
     color: rgb(0, 0, 0);

 }

 #changePseudo{
     padding: 0;
     color: white;
     outline: none;
     border-radius: 7px;
     background: transparent;
     border: 1px solid white;
     padding-top: 10px;
     padding-bottom: 10px;
     text-indent: 10px;
     ;

 }


#delButton{
    padding: 10px;
    background-color: transparent;
    outline: none;
    border:none;        
    border-radius: 100px;
    width: 100%;

}

#delButton:hover{
    cursor: pointer;
}

.X_WHITE{
    width: auto;
    max-width: 60px;
}
.X_RED{
    width: auto;
    max-width: 60px;
}
/* form for editig profiles */


.container1{
position: fixed;
padding:0;
margin: auto;
left: 0px;
top: 0px;
background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
gap: 5vh;

}

.logo_head{
    display: flex;
}

h1 {
    font-family: 'Circular';
    color: white;
    letter-spacing: -0.1rem;
    margin: 0px;
    text-align: center;
}

svg{
width: 70px;
max-width: 100%;
height: auto;
margin: 5px;
margin-left: -3px;
color: white;
} 

input[type="radio"][name="brandtype"], input[type="radio"][name="imageProfile"]{
    visibility:hidden;
    display: none;
}

/* container de tous les profils */

.profile_select{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 300px; /* give a fixed height to avoid all container to be schrinked when profiles images are animated */

}

/* container de tous les profils */








/* container PAR profil */

.name_User{
    font-family: 'Circular';
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* container PAR profil */





/* profil image */
.profil1 img{
    align-items: center;
}
.profil1 {
    display: flex;
    border-radius: 120px;
    width: 90%; /* change this for the width */
    padding: 10px;
    position: relative;
    z-index: 0;
    margin-right: 0;
    align-items: center;
}
.add_div img{
    display: flex;
    border-radius: 120px;
    width: 90%; /* change this for the width */
    padding: 10px;
    position: relative;
    z-index: 0;
    margin-right: 0;
}

.add_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_image{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* profil image */


#Calque_3.test span{
display: none;
}

/* container for -> Username + profile image */
.image_profile{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
/* container for -> Username + profile image */


#delButton{
    padding: 10px;
}


a#redirectMe2, a#redi{
    display: none;
    }



/* SVG PEN css pour le center */
#Calque_1.test{
    z-index: 1;
    position: absolute;
    display: flex;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 70px;
}

#Calque_2.test{
    z-index: 1;
    position: absolute;
    display: flex;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 70px;
}


#Calque_3.test{
    z-index: 1;
    position: absolute;
    display: flex;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 70px;
}

#Calque_4.test{
    z-index: 1;
    position: absolute;
    display: flex;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 70px;
}
/* SVG PEN css pour le center */



.modif_button{ /* button Edit */
    padding: 15px;
    background: none;
    border: 1px solid white;
    border-radius: 200px;
    color: white;
    outline: none;
    width: 120px;
    font-family: 'Circular';
    text-transform: uppercase;
}

.modif_button:hover{
background-color: white;
color: black;
cursor: pointer;
}

/* ADDITION CSS FOR EDIT_FORM.PHP */
#container_form_edit{
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
border: 1px solid white;
overflow: hidden;
border-radius: 7px;
width: auto;
}

.choose_your_image{
display: flex;
justify-content: center;
width: auto;
height: auto;
object-fit: cover;
padding: 20px;

}

.choose_your_image img{
width: auto;
height: auto;
border-radius: 300px;
}

#container_form_images{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: relative;
border: 1px solid white;
overflow: hidden;
border-radius: 7px;
width: auto; 
padding: 30px;  
}


#containerImages{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.row_images{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    gap: 20px;
}

.row_images input > label > img{
   border-radius: 250px;
   width: auto;
}

.row_images  > label{
     margin: 0;
 }



.arrowBack{
 display: flex;
 position: absolute;
 top: 0;
 left: 0;
 width: 50px;
 height: auto;
 max-width: 100%;
 margin-top: 4vh;
 margin-left: 4vh;
 }





/* ADDITION CSS FOR EDIT_FORM.PHP */




/* FOOTER */
.disclaimer{
text-align: center;
}
/* FOOTER */


@media screen and (max-width: 375px){
    #Calque_1.test{max-width: 50px;}
    #Calque_2.test{max-width: 50px;}
    #Calque_3.test{max-width: 50px;}
    #Calque_4.test{max-width: 50px;}
    #Calque_5.test{max-width: 50px;}
    .profile_select{margin-left: 4vh;
    margin-right: 4vh;}
    .name_User{font-size: 0.8rem;}
    #container_form{flex-direction: column; margin-left: 4vh; margin-right: 4vh;}
 #form_profil input{width: 100%;}
 .profile_select{height:200px;}
 #edit{width: 300px;}
 #changeThis{width: 100px;}
 .choose_your_image{padding:20px 0 20px 0;}
 #form_profil{width: 250px; padding: 0px 20px 20px 20px; gap: 20px;}
 .row_images img{width: 100px;}
 #container_form_images{border: none; width: auto}
 }
