@font-face {
  font-family: Circular;
  src: url(CircularStd-Black.otf) format("opentype");
}

html,body {
background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%); 
background-attachment: fixed;
overflow-x: hidden;   
}


* {
margin: 0;
margin-bottom: 0px;
padding: 0;
color: white;
}


/* ↓ NAVBAR ↓*/

li, a {
font-family: 'Inter';
font-weight: 100;
text-decoration: none;
}

header{
display: flex;
justify-content: space-between;
align-items:baseline;
background: #06060f;
padding: 10px;

}



.logo{
margin-left: 4vh;
width: 90px;
left: 10px;
align-self: center;
}

.logo_minia{
  align-self: center;
}

.nav_links li a {
text-decoration: none;
color: white;
}
.nav_links {
list-style: none;
margin: 0px;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;
margin: 0px;
}



.nav_links_responsive {
list-style: none;
margin: 0px;

}

.nav_links_responsive li {
display: inline-block;
padding: 0px 20px;

}

.nav_links_responsive li a {
text-decoration: none;
color: white;

}

/* input{
padding: 9px 25px;
border: 1px solid white;
border-radius: 50px;
} */


.fa-magnifying-glass {
color: white;
}

/*.searchbar {
position: relative;
}

.searchbar i{
          position: absolute;
          right: 15px;
          top: 10px;
          color: rgb(128, 128, 128);
      }
*/

.user{
margin-right: 3vh;
display: flex;
float: right;
justify-content: space-between;
align-items: center;
}

.userImage {
width: 40px;
border-radius: 50px;
align-items: baseline;
}

.p_username{
font-family: 'Inter';
margin-right: 7px;
margin-top: 0;
margin-bottom: 0;
}

.currentUsername{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Inter';
}


@media screen and (max-width: 854px) {
.nav_links{display: none;}
.logo{display: none;}
.logo_minia{
margin-left: 2.8vh;
width: 60px;
left: 20px;
padding: 10px;}
.userImage{width: 40px;}
.p_username{display: none;}
.user{
margin: 0;
display: inline-block;
margin-right: 2.8vh;
}

}


 @media screen and (min-width: 855px) {
.nav_links_responsive {display:none;}
.nav_links_responsive li{display: none;}
.logo_minia{display: none;}
}

@media screen and (max-width: 375px){
  .nav_links{display: none;}
.logo{display: none;}
.logo_minia{
margin-left: 2.2vh;
width: 60px;
left: 20px;
padding: 10px;}
.userImage{max-width: 80%; margin-top: 2px;}
.p_username{display: none;}
.user{
margin: 0;
display: inline-block;
margin-right: 1vh;
}
.nav_links_responsive li{
  margin-top: 2px;
  font-size: 0.8rem;
  padding: 0 10px;
}
}

@media screen and (max-width: 600px){
    .nav_links{display: none;}
.logo{display: none;}
.logo_minia{
margin-left: 2.2vh;
width: 60px;
left: 20px;
padding: 10px;}
.userImage{max-width: 80%; margin-top: 2px;}
.p_username{display: none;}
.user{
margin: 0;
display: inline-block;
margin-right: 1vh;
}
.nav_links_responsive li{
  margin-top: 2px;
  font-size: 0.8rem;
  padding: 0 10px;
}

}
  


  




/* ↑  NAVBAR  ↑ */





/* ↓ CONTENT BODY↓ */

/* ↓ CARROUSSEL BOOTSTRAP ↓ */

.bootstrap-iso{
display: flex;
flex-direction: column;
justify-content: space-between;
padding-bottom: 0px;
margin-top: 0px;
padding-top: 0px;
}

#carouselHome .carousel-item:before{
  content:"";
  background: linear-gradient(to bottom,
  transparent,
   #00000085 100%); 
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#carouselHome .carousel-item img{
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 50vh !important;
  background: linear-gradient(150deg, #000000 0%, #7B8BB4 100%); 
}

#carouselHome .carousel-item .carousel-caption h5 {
    font-family: Circular;  
    text-align: left;
    left: 0;
}

#carouselHome .carousel-item .carousel-caption p{
  text-align: left;
  left: 0;
  bottom: 0;
}

#carouselHome .carousel-item{

}

#carouselHome{

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2vh;
}

/* ↑  CAROUSSEL  ↑ */

.container {
margin-top: 0px;
margin-left: 3vh;
margin-right: 3vh;
}
.swiper-container {
  overflow: visible;
  margin-left: 10px;
  margin-right: 10px;
}
.swiper-wrapper{
display: flex;
flex-direction: row;
margin-bottom: 20px;
gap: 2.3vh;
}



.title_slide{
  margin-left: 4vh;
  font-family: 'Inter';
  margin-bottom: 15px;
}

.swiper-slide {
  transition: all 105ms ease-out;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.swiper-slide img {
  border-radius: 5px;
  max-width: 17.5rem;
  cursor: grab;
   border: solid 0.1px rgba(0, 0, 0, 0);
   height: 300px;
}

.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.2);
  transition: all 300ms ease-out;
  transition-delay: 0.1ms;
  z-index: 1;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiper-slide:hover img {
  transition-delay: 1ms;
  border: solid 0.1px rgb(255, 183, 14);
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

@media screen and (max-width: 599px) {
  .swiper-slide img {
    max-width: 12rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    max-width: 10.5rem;
    border-radius: 2px;
  }
}

/* ↑ CONTENT BODY ↑ */



/* ↓ FOOTER ↓ */
footer {
display: flex;
align-items: center;
flex-direction: row; height: 100px;
justify-content: center;
margin-top: 4vh;
bottom:0; 
width: 100%;
gap: 3vh;
background: #06060f;
}

.footer_div{
display: flex;
flex-direction: column;
align-items: center;

}
.logo_bottom{ 
width: 100px;
padding: 10px;
padding-left: 7px;
}

.span_div{
display: flex;
margin-right: 3vh;
margin-left: 3vh;
font-family: 'Inter';
font-size: 0.7rem;
}
.span_footer{
padding: 10px;
padding-right: 30px;
padding-left: 30px;
}

.footer_div > span {
font-size: xx-small;
font-family: 'Inter';
}

.logo_resp_bottom{
width: 50px;
padding: 10px;
}

@media screen and (max-width: 4000px){
.logo_resp_bottom{display:none}
}

@media screen and (max-width: 1500px){
.swiper-wrapper{gap: 4vh;}
}
  

@media screen and (max-width: 1105px) {
 footer{flex-direction: row; height: 100px;}
 .logo_bottom{margin-left: 3vh;}
 .span_footer{
   padding: 5px;
   padding-right: 15px;
  padding-left: 15px;}
.logo_resp_bottom{display:none}
#carouselHome .carousel-item img{height: 25vh;}
 }

 @media screen and (max-width: 741px) {
 footer{flex-direction: row; height: 100px;}
 .logo_bottom{margin-left: 3vh;}
 .span_footer{
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
 }
 .span_div{
   margin-right: 1.5  vh;
   margin-left: 1.5vh;
 }
  .logo_resp_bottom{display:none}
  #carouselHome .carousel-item img{height: 15vh;}
  
 }


@media screen and (max-width: 600px){
  .span_footer{display: none;}
  .footer_div{display: none;}
  .span_div{display: none;}
  .logo_resp_bottom{display:flex;}
  #carouselHome .carousel-item img{height: 15vh;}
 }



/* ↑ FOOTER ↑ */


