@font-face {
  font-family: Circular;
  src: url(./CircularStd-Black.otf) format("opentype");
}

* {
margin: 0;
padding: 0;
color: white;
}

.BackgroundImage{
    position: relative;
    width: 100%;
}


.nameMovie{
    margin-top: 9vh;
}
h1 {
    font-family: 'Circular', sans-serif;
    color: rgb(255, 255, 255);

}
#testImage{
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    background-size: 100%;
    background-position: top;
    max-height: 800px;
   -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0));
}






.headerMovie{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 4vh;
    margin-right: 4vh;
    margin-top: 3vh;
    gap: 3px
}

.infosMovie{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    gap: 5px;
}

.infosMovie button{
border-radius: 5px;
padding: 5px;
font-size: 0.8rem;
background-color: #656973;
border: none;
}


.descriptionMovie{
    display: flex;
    flex-direction: row;
    gap: 30vh;
}
.description{
    text-align: left;

}

.typeMovie{
    margin-bottom: 2vh;
}
.buttonsMovie{
    margin-bottom: 3vh;
}

.play {
    padding: 10px;
    width: 150px;
    border-radius: 7px;
    border: none;
    background-color: transparent;
    outline: 1px solid white;
    color: white;
    cursor: pointer;
    text-align: center;
}


 
.play:hover{
    background-color: rgb(255, 255, 255);
    color: #27242B;
}


.fa-play{
color: #ffffff;
margin-right: 10px;
}
/* HAUT PAGE */




/* SLIDE RECOMMENDATION */

.title_slide{
position: relative;
  margin-left: 2.3vh;
  margin-bottom: 15px;
  z-index: 0;
}

.container {
margin:0;
padding: 0px;
}

.swiper-container {
  overflow: visible;
  margin: 0;
  padding: 0;
}

.swiper-wrapper{
display: flex;
flex-direction: row;
margin-left: 3.4vh;
margin-right: 3.4vh;
}

.swiper-slide {
  transition: all 105ms ease-out;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0;
  margin-right: 1.3vh;
}


.swiper-slide img {
  border-radius: 5px;
  max-width: 13rem;
  cursor: grab;
  border: solid 0.1px rgba(0, 0, 0, 0);
  height:80%;
  margin: 0;
}

.container_movie{
    margin-top: 60vh;
}



/* CSS GUILLAUME */
/* header */
#listePseudos{
    padding-right: 1.5rem;
    padding-left: 2rem;
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    float: left;
    top: 3rem;
    right: 1.5rem;
    z-index: 1;
    background-color:black;
    opacity: 0.7;
    padding-top: 1.5rem;
    border-radius: 5%;
    background-color: black;
  }
  
  #fleche
  {
    margin-left: 0.4rem;
  }
  
  #photoListeProfil
  {
    width: 2rem;
    height: 2rem;
    margin-right: 0.4rem;
  }
   
  #sectionUser
  {
    position: relative;
    display: inline-block;
  }