@font-face {
    font-family: Circular;
    src: url(./CircularStd-Black.otf) format("opentype");
}


body {
left: 0px;
top: 0px;
background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%);
}

h1 {
    font-family: Circular;
    color: white;
    letter-spacing: -0.1rem;
    margin: 0px;
    margin-bottom: 10px;
}

.alert_error{
color: white;
text-align: center;
}

.txt1 {
    color: white;

}
.txt1 a{
  color: black;
}
.txt1 a:hover{
  font-weight: bold;
}


/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #ffffff;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

/* end .slideThree */
.toggle_remember{
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.2);

}


.container1 {
position: fixed;
padding:0;
margin: 0;
left: 0px;
top: 0px;
background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
} 

html {
   background: linear-gradient(180deg, #000000 0%, #7B8BB4 100%); 
}

.buttons1 {
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    align-items: center;
    justify-content: center;
}

.Register0{
flex:1;
border: none;
max-width: 100%;
height: 50px;
background-color: transparent;
border-radius: 7px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 5%;
padding-bottom: 5%;
padding-right: 130px;
padding-left: 130px;
text-align: center;
margin-bottom:-14px;
}

.Register0:hover{
color: black;
background-color: white;
outline: 1px solid white;
}

.Register1:hover{
color: black;
background-color: white;
outline: 1px solid white;
}


.Register1{
flex:1;
border: none;
max-width: 100%;
height: 50px;
background-color: transparent;
border-radius: 7px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 5%;
padding-bottom: 5%;
padding-right: 140px;
padding-left: 140px;
text-align: center;
margin-bottom: 10px;
}


#option{
  color: white;
  
}

#option input{
 margin-right: 10px;
}



svg{
width: 70px;
max-width: 100%;
height: auto;
margin: 5px;
margin-left: 1px;
} 
/* LOGO NOVA */

.disclaimer{
position: absolute;
bottom: 0;
text-align: center;
margin-bottom: 2vh;
}



/* START LOGIN_FORM.HTML */
p.txt1{
margin: 0px;
font-size: 1rem;
bottom: 0;
}

.buttons1_loginForm {
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    align-items: center;
    justify-content: center;
}

.Register0_loginForm{
flex:1;
border: none;
width: 320px;
max-width: 180%;
height: 50px;
background-color: transparent;
border-radius: 100px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 6%;
padding-bottom: 6%;
text-align: left;
 margin-bottom:-14px;
padding-left: 25px;
}

.Register1_loginForm{
flex:1;
border: none;
width: 320px;
max-width: 180%;
height: 50px;
background-color: transparent;
border-radius: 100px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 6%;
padding-bottom: 6%;
text-align: left;
padding-left: 25px;
margin-bottom: 40px;

}

::placeholder {
  color: rgb(168, 168, 168);
  font-size: 0.9em;
}

.container2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.Register_loginEnter{
border: none;
width: 320px;
max-width: 120%;
height: 55px;
background-color: transparent;
border-radius: 100px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
margin-bottom: 14px;

}

.Register_loginEnter:hover{
color: black;
background-color: white;
}


.arrowBack{
display: flex;
position: absolute;
top: 0;
left: 0;
width: 50px;
height: auto;
max-width: 100%;
margin-top: 2vh;
margin-left: 2vh;
}

/* Margin Hello Sunshin Login_forn */
.txtHello{
    font-family: Circular;
    color: white;
    letter-spacing: -0.1rem;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 2.9rem;
}

/* END LOGIN_FORM.HTML */






/* START REGISTER_FORM.HTML */
.buttons1_RegisterForm {
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    align-items: center;
    justify-content: center;
}

.Register0_RegisterForm, .Register1_RegisterForm {
flex:1;
border: none;
width: 320px;
max-width: 180%;
height: 50px;
background-color: transparent;
border-radius: 100px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 6%;
padding-bottom: 6%;
text-align: left;
padding-left: 25px;
margin-bottom:-14px;
}
.Register2_RegisterForm{
flex:1;
border: none;
width: 320px;
max-width: 180%;
height: 50px;
background-color: transparent;
border-radius: 100px;
outline: 1px solid white;
color: white;
cursor: pointer;
padding-top: 6%;
padding-bottom: 6%;
text-align: left;
padding-left: 25px;
margin-bottom: 40px;

}

.txtHelloRegister{
    font-family: Circular;
    color: white;
    letter-spacing: -0.1rem;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 2.6rem;
    text-align: center;

}

/* START REGISTER_FORM.HTML */

/* /////////////////////////////////////////////////// */
/* ////////////// START SECTION NORDINE ////////////// */
/* /////////////////////////////////////////////////// */

/* //////// BOX PRINCIPAL /////////// */

.guillaume_box {
  display: flex;
  flex-direction: column;
}

/* Start - Section Javascript - class pour transition */

.transition_none {
  display: none;
}

.transition_flex {
  display: flex;
}

/* End - Section Javascript - class pour transition */

.profile .modif-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 9999;
}

.profile .modif-icon i {
  color: white;
}

.abcd {
  display: none;
}

.linearimg {
  opacity: 0.5;
}

/* Start - Merge avec le code de guillaume  */

/* Start - form */
.guillaume_box .buttons1 {
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 10px black;
  width: 500px;
  height: 300px;
  border-radius: 7px;
  margin: 0 20px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.guillaume_box .buttons1 form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guillaume_box .buttons1 form .Register_loginEnter {
  background: gray;
  height: 50px;
}

.guillaume_box .buttons1 form .Register_loginEnter:hover {
  background: black;
  cursor: pointer;
  transition: background-color 250ms;
}

.guillaume_box .buttons1 form .form-select {
  height: 50px;
}

/* /////////// ICI ///////////// */
.guillaume_box .buttons1 .default_image {
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}

.guillaume_box .buttons1 form input,
.guillaume_box .buttons1 form select,
.guillaume_box .buttons1 form button {
  width: 100%;
  border-radius: 7px;
  height: 30px;
  margin-left: 40px;
}

.who_are_you_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-10%, -50%);
  width: 50%;
}

.guillaume_box form {
  display: flex;
  justify-content: center;
}

/* End - form */

/* Start - user card  */

.guillaume_box {
  position: relative;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guillaume_box ul {
  width: 100%;
  height: 100%;
  text-align: center;
}

.guillaume_box .profile-content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.row_default {
  position: relative;
  height: 300px;
  width: 300px;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 10px black;
  border-radius: 7px;
  margin-left: 330px;
  cursor: pointer;
}

.guillaume_box .profile-pic {
  position: relative;
  height: 300px;
  width: 300px;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 10px black;
  border-radius: 7px;
  margin: 30px;
  cursor: pointer;
}

.guillaume_box .profile-pic li {
  text-align: center;
}

.guillaume_box .profile-pic-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  border-radius: 100px;
  border: 3px solid white;
}

.guillaume_box .profile-pic h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}

.guillaume_box .fa-solid.fa-trash-can {
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
}

.guillaume_box .fa-solid:hover {
  color: red;
}

.guillaume_box .fa-solid.fa-pen {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
}

.guillaume_box .fa-solid.fa-pen:hover {
  color: blue;
}

.guillaume_box .profile-pic .row img {
  width: 100px;
}

/* End - user card  */

/* START - IMG BOX BUTTON RADIO DESIN */

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

/* END - IMG BOX BUTTON RADIO DESIN */

/* Start 3eme section choix des foto de profil utilisateur */

.third_img_userprofil_choices {
  position: absolute;
  flex-direction: column;
  width: 600px;
  background-color: black;
  box-shadow: 2px 2px 10px black;
  border-radius: 7px;
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 30px;
}

.third_img_userprofil_choices h1 {
  text-align: center;
  margin-top: 20px;
}

.box_picture1 .box1 img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* End 3eme section choix des foto de profil utilisateur */

/* Start - bouton radio */

.container9 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 50px;
}

.container9 img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container9 .col {
  margin-right: 10px;
}

.app-paper {
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  padding: 20px;
  position: relative;
  font-family: sans-serif;
}

.app-paper:before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 5%;
  width: 90%;
  height: 30px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  filter: blur(10px);
}

.hidetx {
  display: none;
}

.paper-title {
  font-size: 15px;
  color: white;
  margin-top: 3px;
}

.lbl-radio {
  text-align: center;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
  padding: -20px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 7px;
  margin-top: 20px;
  height: 130px;
}

.display-box .size {
  font-weight: 600;
  margin-bottom: 14px;
  letter-spacing: 0.5px;
}

.display-box .price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

input[type="radio"]:checked + .lbl-radio {
  border-color: #286ab0;
}

/* End - bouton radio */

/* End - Merge avec le code de guillaume  */

/* /////////////////////////////////////////////////// */
/* /////////////// END SECTION NORDINE /////////////// */
/* /////////////////////////////////////////////////// */