@font-face {
  font-family: Circular;
  src: url(./CircularStd-Black.otf) format("opentype");
}

body {
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #000000 0%, #7b8bb4 100%);
}

h1 {
  font-family: Circular;
  color: white;
  letter-spacing: -0.1rem;
  margin: 0px;
  margin-bottom: 10px;
}

.txt1 {
  color: white;
}

.container1 {
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #000000 0%, #7b8bb4 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

html {
  background: linear-gradient(180deg, #000000 0%, #7b8bb4 100%);
}

.buttons1 {
  display: flex;
  flex-direction: column;
  margin: 1.5%;
  align-items: center;
  justify-content: center;
}

.Register0 {
  flex: 1;
  border: none;
  max-width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 130px;
  padding-left: 130px;
  text-align: center;
  margin-bottom: -14px;
}

.Register1 {
  flex: 1;
  border: none;
  max-width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 140px;
  padding-left: 140px;
  text-align: center;
  margin-bottom: 10px;
}

svg {
  width: 70px;
  max-width: 100%;
  height: auto;
  margin: 5px;
  margin-left: 1px;
}
/* LOGO NOVA */

.disclaimer {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 2vh;
}

/* START LOGIN_FORM.HTML */
p.txt1 {
  margin: 0px;
  font-size: 0.7rem;
  bottom: 0;
}

.buttons1_loginForm {
  display: flex;
  flex-direction: column;
  margin: 1.5%;
  align-items: center;
  justify-content: center;
}

.Register0_loginForm {
  flex: 1;
  border: none;
  width: 320px;
  max-width: 180%;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: left;
  margin-bottom: -14px;
  padding-left: 25px;
}

.Register1_loginForm {
  flex: 1;
  border: none;
  width: 320px;
  max-width: 180%;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: left;
  padding-left: 25px;
  margin-bottom: 40px;
}

::placeholder {
  color: rgb(168, 168, 168);
  font-size: 0.9em;
}

.container2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.Register_loginEnter {
  border: none;
  width: 320px;
  max-width: 120%;
  height: 55px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-bottom: 14px;
}

.arrowBack {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: auto;
  max-width: 100%;
  margin-top: 2vh;
  margin-left: 2vh;
}

/* Margin Hello Sunshin Login_forn */
.txtHello {
  font-family: Circular;
  color: white;
  letter-spacing: -0.1rem;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 2.9rem;
}

/* END LOGIN_FORM.HTML */

/* START REGISTER_FORM.HTML */
.buttons1_RegisterForm {
  display: flex;
  flex-direction: column;
  margin: 1.5%;
  align-items: center;
  justify-content: center;
}

.Register0_RegisterForm,
.Register1_RegisterForm {
  flex: 1;
  border: none;
  width: 320px;
  max-width: 180%;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: left;
  padding-left: 25px;
  margin-bottom: -14px;
}
.Register2_RegisterForm {
  flex: 1;
  border: none;
  width: 320px;
  max-width: 180%;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  outline: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: left;
  padding-left: 25px;
  margin-bottom: 40px;
}

.txtHelloRegister {
  font-family: Circular;
  color: white;
  letter-spacing: -0.1rem;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 2.6rem;
  text-align: center;
}

/* START REGISTER_FORM.HTML */

/* /////////////////////////////////////////////////// */
/* ////////////// START SECTION NORDINE ////////////// */
/* /////////////////////////////////////////////////// */

/* Start - 1st new user, emplacement vide avec le plus */

.first_new_user {
  display: flex;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 0.8vw, 20px);
  justify-content: center;
  /* width: clamp(100px, 80vw, 1400px); */
  width: 352px;
  margin-top: 30px;
}

.profiles > .profile {
  aspect-ratio: 7 / 8;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 250ms;
  /* width: calc(25% - clamp(10px, 0.8vw, 20px)); */
  width: 100%;
}

.profiles > .profile:hover {
  backdrop-filter: blur(1vw);
  background-color: rgba(255, 255, 255, 0.1);
}

.profile {
  position: relative;
}

.profile > .profile-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - clamp(8px, 1vw, 12px));
  justify-content: center;
  padding: clamp(8px, 1vw, 12px);
}

.profile > .profile-content > .profile-pic {
  aspect-ratio: 1;
  border: clamp(3px, 0.4vw, 5px) solid white;
  border-radius: 100%;
  flex-shrink: 0;
  height: 70%;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}

.profile > .profile-content > .profile-pic > .profile-pic-image {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100%;
  height: calc(100% - clamp(10px, 1.5vw, 20px));
  margin: clamp(5px, 0.75vw, 10px);
  object-fit: cover;
  width: calc(100% - clamp(10px, 1.5vw, 20px));
}

.profile > .profile-content > .profile-name {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  margin: 0px;
  text-align: center;
}

/* End - 1st new user, emplacement vide avec le plus */

/* Start Section who are you ?   */

.seconde_who_are_you {
  display: none;
  width: 600px;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  height: 300px;
  overflow: hidden;
  margin-top: 30px;
}

.img_who_are_you {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 20px;
}

.userinfo_who_are_you {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.userinfo_who_are_you form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.userinfo_who_are_you form h1 {
  text-align: center;
}

.userinfo_who_are_you form input {
  border-radius: 20px;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.userinfo_who_are_you form select {
  border-radius: 20px;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.userinfo_who_are_you form button {
  border-radius: 20px;
  height: 40px;
}

.userinfo_who_are_you form button:hover {
  background: #282828;
  transition: background-color 250ms;
  color: white;
  cursor: pointer;
}

.userinfo_btn {
  display: flex;
}

.userinfo_who_are_you form button {
  width: 100%;
}

.seconde_who_are_you .img_who_are_you .profile-pic {
  background-color: rgba(24, 22, 22, 0.188);
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  cursor: pointer;
}

.seconde_who_are_you .img_who_are_you .profile-pic .icon-plus i {
  color: white;
  font-size: 40px;
}

/* Section Javascript - class pour transition */

.transition_none {
  display: none;
}

.transition_flex {
  display: flex;
}

/* Section Javascript - class pour transition */

/* 3eme section choix des foto de profil utilisateur */

.third_img_userprofil_choices {
  display: none;
}

.container_userpicture {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 30px;
}

.icon-pen i {
  color: white;
  font-size: 40px;
}

.container_userpicture h1 {
  text-align: center;
  margin-top: 20px;
}

.box_picture1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box_picture1 h2 {
  text-align: left;
  margin-left: 30px;
  color: white;
  margin-top: 20px;
}

.box_picture1 .box1 {
  position: absolute;
  height: 100%;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.box_picture1 .box1 a {
  gap: 10px;
}

.box_picture1 .box1 a img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

/* 3eme section choix des foto de profil utilisateur */

/* .profile-btn-modifier {
  height: 50px;
  width: calc(25% - clamp(10px, 0.8vw, 20px));
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
}

.profile-btn-modifier:hover {
  cursor: pointer;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(4, 109, 246, 0.314);
}

.profile-btn-modifier a {
  color: white;
  text-decoration: none;
  font-size: 25px;
} */

.profile .modif-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 9999;
}

.profile .modif-icon i {
  color: white;
}

.abcd {
  display: none;
}

.linearimg {
  opacity: 0.5;
}

.profile .icon-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.profile .icon-plus i {
  color: white;
}


/* /////////////////////////////////////////////////// */
/* /////////////// END SECTION NORDINE /////////////// */
/* /////////////////////////////////////////////////// */

.nordine_box {
  display: none;
}

.guillaume_box {
  display: flex;
  flex-direction: column;
}